<nav>
	<ul>
		<% if current_user %>
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Search again", locations_path(@location) %></li>
			<li><%= link_to("Sign out",  logout_path, method: :delete) %></li>
      <!-- <li></li> -->
			<% else %>
			<li><%= link_to "Sign up!", new_user_path %></li>
			<li><%= link_to "Log in!", login_path %></li>
		<% end %>
	</ul>
</nav>