<nav>
	<ul>
		<% if current_user %>
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Search again", locations_path(@location) %></li>
			<li><%= link_to("Sign out",logout_path, method: :delete) %></li>
      <!-- <li></li> -->
			<% else %>
			<li><%= link_to "Sign up!", new_user_path, id: "sign_up" %><div id="modal">
				<%= form_for User.new do |f| %>
				<%=f.label "first name" %>
				<%=f.text_field :fname %>
				<%=f.label "last name" %>
				<%=f.text_field :lname %>
				<%=f.label "email" %>
				<%=f.text_field :email %>
				<%=f.label :password %>
				<%=f.text_field :password %>
				<%=f.label "phone" %>
				<%=f.text_field :phone %>
				<%=f.submit %>
				<% end %>
			</div></li>
			<li><%= link_to "Log in!", login_path %></li>
		<% end %>
	</ul>
</nav>