<div class="row" id="top">
<%= form_tag locations_search_path, method: :get do %>
  <div class="col-md-3 left" id="current_location"><%= label_tag :current_location %></div>
  <%= text_field_tag :current_location %>
  <div class="col-md-3 left" id="type"><%= label_tag :type %></div>
  <%= text_field_tag :term %>
  <div class="col-md-3 field"><%= label_tag :radius_filter %></div>
  <%= text_field_tag :radius_filter %>
  <div class="col-md-3 field" id="button"><%= submit_tag "Roll the dice" %></div>
<% end %>

<!--   <form>
    <input id="yelp_search" type="search" placeholder="What are you hungry for?">
    <button type="button" id="press">Roll the dice</button>
  </form> -->
</div>




<!-- < % = Pharmacy.near("90 John Street, New York, NY 10038") -->

<!-- form adds new location to geocoder -->
<!-- < %= form_for Location.new do |f| %>
< %=f.label "address" %>
< %=f.text_field :address %>
< %=f.submit %>
< % end %>
 -->











<!-- <div class="field">
    < % = f.label :address % ><br>
    < % = f.text_field :address % >
  </div>
  <div class="field">
    < % = f.label :latitude % ><br>
    < % = f.text_field :latitude % >
  </div>
  <div class="field">
    < % = f.label :longitude % ><br>
    < % = f.text_field :longitude % >
  </div>
  <div class="actions">
    < % = f.submit % >
  </div> -->
