<div class='row'>
  <!-- gives space for results -->
  <div id='results'>
  </div>
</div>

<div id="dice">
 <%= image_submit_tag ("dice.png"), id: "di" %>
 </div>
  <!-- <button id="map_me">Get me there!</button> -->
  <!-- < % = button_tag "Map", user_path %> -->

<!-- address is grabbed from the form via the data attribute -->
<div id="location" data-loc= "<%= @current_location %>"></div>

<!-- gives the map space on the page -->
<!-- <div id="map"></div>
< script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GMAPS_KEY"]%>&libraries=places&callback=initialize" async defer></script> -->
<!-- <img src="< %= @response.businesses[0].image_url %>"> -->
<!-- < % @response.businesses[0].location.coordinate.latitude %> -->

<script type="text/javascript">
  var responses = [
  <% @response.businesses.each_with_index do |business, n| %>
    '<div id="response0" data-coords0="<%= business.location.coordinate.latitude %>, <%= business.location.coordinate.longitude %>" class="results"><div class="photo"><img src="<%= business.image_url %>"><h2><%= business.name %></h2><h4><div class="glyphicon glyphicon-earphone"></div> <%= business.phone %></h4><h4><%= business.location.address.first %></h4><h4><%= business.location.city %></h4><h4><%= business.location.state_code %></h4><h4><%= business.location.postal_code %></h4><h4>Rating: <%= business.rating %></h4><h4>Review Snippet: <%= business.snippet_text.gsub("\n", " ") %></h4></div>'<%= "," unless @response.businesses.count == n + 1 %>
  <% end %>
  ];
  var i = 0
  // first result is added to page here
  $('#results').append(responses[i])

  $('#next').css({
    "display": "block",
    "margin": "0 auto",
  });
  // upon next button click, preceding result is emptied from page and next result is added to page
  $('#di').click(function(){
    console.log('button is clicked')
    i++
    if(i == 20){
      $('#next').hide()
    }
    $('#results').empty();
    $('#results').append(responses[i])
  })
</script>