<h1>Locations#show</h1>
<p>Find me in app/views/locations/show.html.erb</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<h5>Address: </h5><%= @location.address %>
<h5>Latitude: </h5><%= @location.latitude %>
<h5>Longitude: </h5><%= @location.longitude %>

<h3>Nearby locations</h3>
<ul>
<!-- < % binding.pry % > -->
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= link_to "Find another location", locations_path %>