<!DOCTYPE html>
<html>
<head>
  <title>FoodRoulette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- bootstrap javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="row">
    <header>
      <div class="col-md-8"><h1>FoodRoulette</h1></div>
      <div class="col-md-8"><%= render "shared/nav" %></div>
    </header>
  </div>
	<% if flash[:alert] %>
	<%= flash[:alert] %>
	<% end %>
	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>

<%= yield %>

</body>
</html>
