<!DOCTYPE html>
<html>
<head>
  <title>FoodRoulette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header><h1>FoodRoulette</h1></header>
	<% if flash[:alert] %>
	<%= flash[:alert] %>
	<% end %>
	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>

<%= yield %>

</body>
</html>
